version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
    - ./backend/.env
    volumes:
      - ./data:/backend/data 

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
    - "3000:3000"
    env_file:
    - ./frontend/.env
    depends_on:
    - backend